<%= form_with url: searches_path, method: :get, class: 'navbar-form', role: 'search' do |f| %>
  <div class="input-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>

    <div class="input-group-append">
      <%= submit_tag "Search", name: "", class: "btn btn-outline-success" %>
    </div>
  </div>
<% end %>
